##Problem 1

Write a web scraping script which takes an input of any film actor and gives the output of filmography of that actor in descending order.

In [ ]:
#importing all the dependencies.
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

In [ ]:
url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

In [ ]:
movies = soup.select('td.titleColumn')
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value')
        for b in soup.select('td.posterColumn span[name=ir]')]

In [ ]:
# create a empty list for storing
# movie information
list1 = []

# Iterating over movies to extract
# each movie's details
for index in range(0, len(movies)):
	
	# Separating movie into: 'location',
	# 'title', 'year'
	movie_string = movies[index].get_text()
	movie = (' '.join(movie_string.split()).replace('.', ''))
	movie_title = movie[len(str(index))+1:-7]
	year = re.search('\((.*?)\)', movie_string).group(1)
	Location = movie[:len(str(index))-(len(movie))]
	data = {"Location": Location,
			"Movie_title": movie_title,
			"rating": ratings[index],
			"Year": year,
			"Star_cast": crew[index],
			}
	list1.append(data)

In [ ]:
for movie in list1:
    print(movie['Location'], '-', movie['Movie_title'], '('+movie['Year'] +
          ') -', 'Starring:', movie['Star_cast'], movie['rating'])

1 - The Shawshank Redemption (1994) - Starring: Frank Darabont (dir.), Tim Robbins, Morgan Freeman 9.233954495698477
2 - The Godfather (1972) - Starring: Francis Ford Coppola (dir.), Marlon Brando, Al Pacino 9.1560474473662
3 - The Dark Knight (2008) - Starring: Christopher Nolan (dir.), Christian Bale, Heath Ledger 8.985754553547302
4 - The Godfather Part II (1974) - Starring: Francis Ford Coppola (dir.), Al Pacino, Robert De Niro 8.984208074470846
5 - 12 Angry Men (1957) - Starring: Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb 8.947842593083273
6 - Schindler's List (1993) - Starring: Steven Spielberg (dir.), Liam Neeson, Ralph Fiennes 8.935321404277829
7 - The Lord of the Rings: The Return of the King (2003) - Starring: Peter Jackson (dir.), Elijah Wood, Viggo Mortensen 8.921398500436839
8 - Pulp Fiction (1994) - Starring: Quentin Tarantino (dir.), John Travolta, Uma Thurman 8.850621769842494
9 - The Lord of the Rings: The Fellowship of the Ring (2001) - Starring: Peter Jackson (dir.), Elijah Wood, Ian McKellen 8.80379306176675
1 -  The Good, the Bad and the Ugly (1966) - Starring: Sergio Leone (dir.), Clint Eastwood, Eli Wallach 8.793515091780685
11 - Forrest Gump (1994) - Starring: Robert Zemeckis (dir.), Tom Hanks, Robin Wright 8.767380665802
12 - Fight Club (1999) - Starring: David Fincher (dir.), Brad Pitt, Edward Norton 8.7498306029346
13 - Inception (2010) - Starring: Christopher Nolan (dir.), Leonardo DiCaprio, Joseph Gordon-Levitt 8.732946893137395
14 - The Lord of the Rings: The Two Towers (2002) - Starring: Peter Jackson (dir.), Elijah Wood, Ian McKellen 8.728063698949654
15 - Star Wars: Episode V - The Empire Strikes Back (1980) - Starring: Irvin Kershner (dir.), Mark Hamill, Harrison Ford 8.701737072552515
16 - The Matrix (1999) - Starring: Lana Wachowski (dir.), Keanu Reeves, Laurence Fishburne 8.670924739206725
17 - Goodfellas (1990) - Starring: Martin Scorsese (dir.), Robert De Niro, Ray Liotta 8.651712034483467
18 - One Flew Over the Cuckoo's Nest (1975) - Starring: Milos Forman (dir.), Jack Nicholson, Louise Fletcher 8.641048114184272
19 - Se7en (1995) - Starring: David Fincher (dir.), Morgan Freeman, Brad Pitt 8.604108972110513
20 - Seven Samurai (1954) - Starring: Akira Kurosawa (dir.), Toshirô Mifune, Takashi Shimura 8.59883751906091
21 - It's a Wonderful Life (1946) - Starring: Frank Capra (dir.), James Stewart, Donna Reed 8.596805248313503
22 - The Silence of the Lambs (1991) - Starring: Jonathan Demme (dir.), Jodie Foster, Anthony Hopkins 8.588054296447721
23 - City of God (2002) - Starring: Fernando Meirelles (dir.), Alexandre Rodrigues, Leandro Firmino 8.578860839900091
24 - Saving Private Ryan (1998) - Starring: Steven Spielberg (dir.), Tom Hanks, Matt Damon 8.577816449180851
25 - Life Is Beautiful (1997) - Starring: Roberto Benigni (dir.), Roberto Benigni, Nicoletta Braschi 8.566054408298957
26 - The Green Mile (1999) - Starring: Frank Darabont (dir.), Tom Hanks, Michael Clarke Duncan 8.559875521948873
27 - Interstellar (2014) - Starring: Christopher Nolan (dir.), Matthew McConaughey, Anne Hathaway 8.5560306508558
28 - Star Wars (1977) - Starring: George Lucas (dir.), Mark Hamill, Harrison Ford 8.55406603588919
29 - Terminator 2: Judgment Day (1991) - Starring: James Cameron (dir.), Arnold Schwarzenegger, Linda Hamilton 8.535171765665337
30 - Back to the Future (1985) - Starring: Robert Zemeckis (dir.), Michael J. Fox, Christopher Lloyd 8.518162821907717
31 - Spirited Away (2001) - Starring: Hayao Miyazaki (dir.), Daveigh Chase, Suzanne Pleshette 8.515294850251715
32 - Psycho (1960) - Starring: Alfred Hitchcock (dir.), Anthony Perkins, Janet Leigh 8.508601958957001
33 - The Pianist (2002) - Starring: Roman Polanski (dir.), Adrien Brody, Thomas Kretschmann 8.504590273512019
34 - Léon: The Professional (1994) - Starring: Luc Besson (dir.), Jean Reno, Gary Oldman 8.50038036649418
35 - Parasite (2019) - Starring: Bong Joon Ho (dir.), Song Kang-ho, Sun-kyun Lee 8.4957506203769
36 - The Lion King (1994) - Starring: Roger Allers (dir.), Matthew Broderick, Jeremy Irons 8.488438976712692
37 - Gladiator (2000) - Starring: Ridley Scott (dir.), Russell Crowe, Joaquin Phoenix 8.48542615166886
38 - American History X (1998) - Starring: Tony Kaye (dir.), Edward Norton, Edward Furlong 8.484359888345727
39 - The Usual Suspects (1995) - Starring: Bryan Singer (dir.), Kevin Spacey, Gabriel Byrne 8.476144515819652
40 - The Departed (2006) - Starring: Martin Scorsese (dir.), Leonardo DiCaprio, Matt Damon 8.475095342627219
41 - The Prestige (2006) - Starring: Christopher Nolan (dir.), Christian Bale, Hugh Jackman 8.467994859755528
42 - Casablanca (1942) - Starring: Michael Curtiz (dir.), Humphrey Bogart, Ingrid Bergman 8.465442859884066
43 - Top Gun: Maverick (2022) - Starring: Joseph Kosinski (dir.), Tom Cruise, Jennifer Connelly 8.461112862096526
44 - Whiplash (2014) - Starring: Damien Chazelle (dir.), Miles Teller, J.K. Simmons 8.460571331780976
45 - The Intouchables (2011) - Starring: Olivier Nakache (dir.), François Cluzet, Omar Sy 8.453674854110183
46 - Modern Times (1936) - Starring: Charles Chaplin (dir.), Charles Chaplin, Paulette Goddard 8.449600030899493
47 - Hara-Kiri (1962) - Starring: Masaki Kobayashi (dir.), Tatsuya Nakadai, Akira Ishihama 8.448650524768519
48 - Grave of the Fireflies (1988) - Starring: Isao Takahata (dir.), Tsutomu Tatsumi, Ayano Shiraishi 8.44772682388608
49 - Once Upon a Time in the West (1968) - Starring: Sergio Leone (dir.), Henry Fonda, Charles Bronson 8.447560132818197
50 - Rear Window (1954) - Starring: Alfred Hitchcock (dir.), James Stewart, Grace Kelly 8.437174410987582
51 - Alien (1979) - Starring: Ridley Scott (dir.), Sigourney Weaver, Tom Skerritt 8.43519927930559
52 - City Lights (1931) - Starring: Charles Chaplin (dir.), Charles Chaplin, Virginia Cherrill 8.433991563339228
53 - Cinema Paradiso (1988) - Starring: Giuseppe Tornatore (dir.), Philippe Noiret, Enzo Cannavale 8.429326913337341
54 - Memento (2000) - Starring: Christopher Nolan (dir.), Guy Pearce, Carrie-Anne Moss 8.425792977458876
55 - Apocalypse Now (1979) - Starring: Francis Ford Coppola (dir.), Martin Sheen, Marlon Brando 8.425132418124763
56 - Indiana Jones and the Raiders of the Lost Ark (1981) - Starring: Steven Spielberg (dir.), Harrison Ford, Karen Allen 8.41162494921976
57 - Django Unchained (2012) - Starring: Quentin Tarantino (dir.), Jamie Foxx, Christoph Waltz 8.402866591789069
58 - WALL·E (2008) - Starring: Andrew Stanton (dir.), Ben Burtt, Elissa Knight 8.392719934509124
59 - The Lives of Others (2006) - Starring: Florian Henckel von Donnersmarck (dir.), Ulrich Mühe, Martina Gedeck 8.3862209618711
60 - Sunset Blvd (1950) - Starring: Billy Wilder (dir.), William Holden, Gloria Swanson 8.382519327276603
61 - Paths of Glory (1957) - Starring: Stanley Kubrick (dir.), Kirk Douglas, Ralph Meeker 8.370859733870905
62 - The Shining (1980) - Starring: Stanley Kubrick (dir.), Jack Nicholson, Shelley Duvall 8.367846280080405
63 - The Great Dictator (1940) - Starring: Charles Chaplin (dir.), Charles Chaplin, Paulette Goddard 8.366178079749455
64 - Witness for the Prosecution (1957) - Starring: Billy Wilder (dir.), Tyrone Power, Marlene Dietrich 8.356995722138231
65 - Avengers: Infinity War (2018) - Starring: Anthony Russo (dir.), Robert Downey Jr., Chris Hemsworth 8.35604855617745
66 - Aliens (1986) - Starring: James Cameron (dir.), Sigourney Weaver, Michael Biehn 8.34467593256068
67 - American Beauty (1999) - Starring: Sam Mendes (dir.), Kevin Spacey, Annette Bening 8.337637917121112
68 - Dr Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964) - Starring: Stanley Kubrick (dir.), Peter Sellers, George C. Scott 8.333382731087772
69 - Spider-Man: Into the Spider-Verse (2018) - Starring: Bob Persichetti (dir.), Shameik Moore, Jake Johnson 8.328913492185988
70 - The Dark Knight Rises (2012) - Starring: Christopher Nolan (dir.), Christian Bale, Tom Hardy 8.32862128958966
71 - Oldboy (2003) - Starring: Park Chan-wook (dir.), Choi Min-sik, Yoo Ji-Tae 8.319825334925495
72 - Joker (2019) - Starring: Todd Phillips (dir.), Joaquin Phoenix, Robert De Niro 8.319555758662444
73 - Amadeus (1984) - Starring: Milos Forman (dir.), F. Murray Abraham, Tom Hulce 8.315415360564005
74 - Braveheart (1995) - Starring: Mel Gibson (dir.), Mel Gibson, Sophie Marceau 8.315375743735881
75 - Toy Story (1995) - Starring: John Lasseter (dir.), Tom Hanks, Tim Allen 8.314840250985911
76 - Coco (2017) - Starring: Lee Unkrich (dir.), Anthony Gonzalez, Gael García Bernal 8.31217652934013
77 - The Boat (1981) - Starring: Wolfgang Petersen (dir.), Jürgen Prochnow, Herbert Grönemeyer 8.31170215310522
78 - Inglourious Basterds (2009) - Starring: Quentin Tarantino (dir.), Brad Pitt, Diane Kruger 8.311068432133727
79 - Princess Mononoke (1997) - Starring: Hayao Miyazaki (dir.), Yôji Matsuda, Yuriko Ishida 8.303602210021415
80 - Avengers: Endgame (2019) - Starring: Anthony Russo (dir.), Robert Downey Jr., Chris Evans 8.301291173578559
81 - Once Upon a Time in America (1984) - Starring: Sergio Leone (dir.), Robert De Niro, James Woods 8.300232025150217
82 - Good Will Hunting (1997) - Starring: Gus Van Sant (dir.), Robin Williams, Matt Damon 8.286642813975089
83 - Requiem for a Dream (2000) - Starring: Darren Aronofsky (dir.), Ellen Burstyn, Jared Leto 8.276771300332133
84 - Toy Story 3 (2010) - Starring: Lee Unkrich (dir.), Tom Hanks, Tim Allen 8.276684266273701
85 - Your Name (2016) - Starring: Makoto Shinkai (dir.), Ryûnosuke Kamiki, Mone Kamishiraishi 8.274886623421251
86 - Singin' in the Rain (1952) - Starring: Stanley Donen (dir.), Gene Kelly, Donald O'Connor 8.27365187205354
87 - 3 Idiots (2009) - Starring: Rajkumar Hirani (dir.), Aamir Khan, Madhavan 8.269100336193956
88 - Star Wars: Episode VI - Return of the Jedi (1983) - Starring: Richard Marquand (dir.), Mark Hamill, Harrison Ford 8.26790469334217
89 - 2001: A Space Odyssey (1968) - Starring: Stanley Kubrick (dir.), Keir Dullea, Gary Lockwood 8.265102872888423
90 - Eternal Sunshine of the Spotless Mind (2004) - Starring: Michel Gondry (dir.), Jim Carrey, Kate Winslet 8.2644214815918
91 - Reservoir Dogs (1992) - Starring: Quentin Tarantino (dir.), Harvey Keitel, Tim Roth 8.264287933196254
92 - High and Low (1963) - Starring: Akira Kurosawa (dir.), Toshirô Mifune, Yutaka Sada 8.26344437785124
93 - Capernaum (2018) - Starring: Nadine Labaki (dir.), Zain Al Rafeea, Yordanos Shiferaw 8.25854083355028
94 - Citizen Kane (1941) - Starring: Orson Welles (dir.), Orson Welles, Joseph Cotten 8.257788546029971
95 - Lawrence of Arabia (1962) - Starring: David Lean (dir.), Peter O'Toole, Alec Guinness 8.256395606579307
96 - The Hunt (2012) - Starring: Thomas Vinterberg (dir.), Mads Mikkelsen, Thomas Bo Larsen 8.255021612520823
97 - M (1931) - Starring: Fritz Lang (dir.), Peter Lorre, Ellen Widmann 8.25370640701334
98 - North by Northwest (1959) - Starring: Alfred Hitchcock (dir.), Cary Grant, Eva Marie Saint 8.253601718786097
99 - Vertigo (1958) - Starring: Alfred Hitchcock (dir.), James Stewart, Kim Novak 8.248023104363423
10 -  Amélie (2001) - Starring: Jean-Pierre Jeunet (dir.), Audrey Tautou, Mathieu Kassovitz 8.245950921419563
101 - A Clockwork Orange (1971) - Starring: Stanley Kubrick (dir.), Malcolm McDowell, Patrick Magee 8.24454676422274
102 - Come and See (1985) - Starring: Elem Klimov (dir.), Aleksey Kravchenko, Olga Mironova 8.24354771177732
103 - Full Metal Jacket (1987) - Starring: Stanley Kubrick (dir.), Matthew Modine, R. Lee Ermey 8.239967328794263
104 - Double Indemnity (1944) - Starring: Billy Wilder (dir.), Fred MacMurray, Barbara Stanwyck 8.238163521761997
105 - The Apartment (1960) - Starring: Billy Wilder (dir.), Jack Lemmon, Shirley MacLaine 8.23723811059313
106 - Scarface (1983) - Starring: Brian De Palma (dir.), Al Pacino, Michelle Pfeiffer 8.23511992201791
107 - Ikiru (1952) - Starring: Akira Kurosawa (dir.), Takashi Shimura, Nobuo Kaneko 8.231124262073225
108 - The Sting (1973) - Starring: George Roy Hill (dir.), Paul Newman, Robert Redford 8.229001058809839
109 - To Kill a Mockingbird (1962) - Starring: Robert Mulligan (dir.), Gregory Peck, John Megna 8.228839771193547
110 - Taxi Driver (1976) - Starring: Martin Scorsese (dir.), Robert De Niro, Jodie Foster 8.227712044433481
111 - LA Confidential (1997) - Starring: Curtis Hanson (dir.), Kevin Spacey, Russell Crowe 8.224671447549124
112 - Up (2009) - Starring: Pete Docter (dir.), Edward Asner, Jordan Nagai 8.224338537872914
113 - Heat (1995) - Starring: Michael Mann (dir.), Al Pacino, Robert De Niro 8.223435166142876
114 - Hamilton (2020) - Starring: Thomas Kail (dir.), Lin-Manuel Miranda, Phillipa Soo 8.221794230239704
115 - Metropolis (1927) - Starring: Fritz Lang (dir.), Brigitte Helm, Alfred Abel 8.221117187038601
116 - A Separation (2011) - Starring: Asghar Farhadi (dir.), Payman Maadi, Leila Hatami 8.220471931814926
117 - Snatch (2000) - Starring: Guy Ritchie (dir.), Jason Statham, Brad Pitt 8.220338648213444
118 - Die Hard (1988) - Starring: John McTiernan (dir.), Bruce Willis, Alan Rickman 8.22025129083535
119 - Incendies (2010) - Starring: Denis Villeneuve (dir.), Lubna Azabal, Mélissa Désormeaux-Poulin 8.219483480733325
120 - Indiana Jones and the Last Crusade (1989) - Starring: Steven Spielberg (dir.), Harrison Ford, Sean Connery 8.21840062911802
121 - Bicycle Thieves (1948) - Starring: Vittorio De Sica (dir.), Lamberto Maggiorani, Enzo Staiola 8.217662756487597
122 - 1917 (2019) - Starring: Sam Mendes (dir.), Dean-Charles Chapman, George MacKay 8.212212979086367
123 - Spider-Man: No Way Home (2021) - Starring: Jon Watts (dir.), Tom Holland, Zendaya 8.208847818333146
124 - Like Stars on Earth (2007) - Starring: Aamir Khan (dir.), Darsheel Safary, Aamir Khan 8.206352239108794
125 - Downfall (2004) - Starring: Oliver Hirschbiegel (dir.), Bruno Ganz, Alexandra Maria Lara 8.204703581335647
126 - For a Few Dollars More (1965) - Starring: Sergio Leone (dir.), Clint Eastwood, Lee Van Cleef 8.2032803269836
127 - Batman Begins (2005) - Starring: Christopher Nolan (dir.), Christian Bale, Michael Caine 8.202089828666866
128 - Dangal (2016) - Starring: Nitesh Tiwari (dir.), Aamir Khan, Sakshi Tanwar 8.197394938549435
129 - The Kid (1921) - Starring: Charles Chaplin (dir.), Charles Chaplin, Edna Purviance 8.194471841204802
130 - Some Like It Hot (1959) - Starring: Billy Wilder (dir.), Marilyn Monroe, Tony Curtis 8.19150068311864
131 - The Father (2020) - Starring: Florian Zeller (dir.), Anthony Hopkins, Olivia Colman 8.182216020226107
132 - All About Eve (1950) - Starring: Joseph L. Mankiewicz (dir.), Bette Davis, Anne Baxter 8.180369879223173
133 - Green Book (2018) - Starring: Peter Farrelly (dir.), Viggo Mortensen, Mahershala Ali 8.174200265733587
134 - The Wolf of Wall Street (2013) - Starring: Martin Scorsese (dir.), Leonardo DiCaprio, Jonah Hill 8.171738530666474
135 - Judgment at Nuremberg (1961) - Starring: Stanley Kramer (dir.), Spencer Tracy, Burt Lancaster 8.168545564978498
136 - Unforgiven (1992) - Starring: Clint Eastwood (dir.), Clint Eastwood, Gene Hackman 8.164417813703796
137 - Ran (1985) - Starring: Akira Kurosawa (dir.), Tatsuya Nakadai, Akira Terao 8.16396269979915
138 - Casino (1995) - Starring: Martin Scorsese (dir.), Robert De Niro, Sharon Stone 8.163754171162322
139 - Everything Everywhere All at Once (2022) - Starring: Dan Kwan (dir.), Michelle Yeoh, Stephanie Hsu 8.163599797722176
140 - Pan's Labyrinth (2006) - Starring: Guillermo del Toro (dir.), Ivana Baquero, Ariadna Gil 8.16334851696741
141 - There Will Be Blood (2007) - Starring: Paul Thomas Anderson (dir.), Daniel Day-Lewis, Paul Dano 8.155144774145842
142 - The Sixth Sense (1999) - Starring: M. Night Shyamalan (dir.), Bruce Willis, Haley Joel Osment 8.153734392196874
143 - A Beautiful Mind (2001) - Starring: Ron Howard (dir.), Russell Crowe, Ed Harris 8.153096554115454
144 - Monty Python and the Holy Grail (1975) - Starring: Terry Gilliam (dir.), Graham Chapman, John Cleese 8.152315887405992
145 - The Truman Show (1998) - Starring: Peter Weir (dir.), Jim Carrey, Ed Harris 8.151939130736926
146 - Yojimbo (1961) - Starring: Akira Kurosawa (dir.), Toshirô Mifune, Eijirô Tôno 8.149179166744714
147 - The Treasure of the Sierra Madre (1948) - Starring: John Huston (dir.), Humphrey Bogart, Walter Huston 8.147960985595457
148 - Shutter Island (2010) - Starring: Martin Scorsese (dir.), Leonardo DiCaprio, Emily Mortimer 8.1431349321367
149 - Rashomon (1950) - Starring: Akira Kurosawa (dir.), Toshirô Mifune, Machiko Kyô 8.142996315012931
150 - The Great Escape (1963) - Starring: John Sturges (dir.), Steve McQueen, James Garner 8.142186256172467
151 - Jurassic Park (1993) - Starring: Steven Spielberg (dir.), Sam Neill, Laura Dern 8.141736326986871
152 - Kill Bill: Vol 1 (2003) - Starring: Quentin Tarantino (dir.), Uma Thurman, David Carradine 8.137375096213354
153 - No Country for Old Men (2007) - Starring: Ethan Coen (dir.), Tommy Lee Jones, Javier Bardem 8.135674117946385
154 - Finding Nemo (2003) - Starring: Andrew Stanton (dir.), Albert Brooks, Ellen DeGeneres 8.13129241636655
155 - The Elephant Man (1980) - Starring: David Lynch (dir.), Anthony Hopkins, John Hurt 8.130792133946311
156 - Raging Bull (1980) - Starring: Martin Scorsese (dir.), Robert De Niro, Cathy Moriarty 8.12969149978183
157 - Chinatown (1974) - Starring: Roman Polanski (dir.), Jack Nicholson, Faye Dunaway 8.129589801809528
158 - Gone with the Wind (1939) - Starring: Victor Fleming (dir.), Clark Gable, Vivien Leigh 8.126844181241617
159 - V for Vendetta (2005) - Starring: James McTeigue (dir.), Hugo Weaving, Natalie Portman 8.12584357838315
160 - The Thing (1982) - Starring: John Carpenter (dir.), Kurt Russell, Wilford Brimley 8.125196941404981
161 - Inside Out (2015) - Starring: Pete Docter (dir.), Amy Poehler, Bill Hader 8.124413584301047
162 - Lock, Stock and Two Smoking Barrels (1998) - Starring: Guy Ritchie (dir.), Jason Flemyng, Dexter Fletcher 8.12328954861014
163 - Dial M for Murder (1954) - Starring: Alfred Hitchcock (dir.), Ray Milland, Grace Kelly 8.119138393397535
164 - The Secret in Their Eyes (2009) - Starring: Juan José Campanella (dir.), Ricardo Darín, Soledad Villamil 8.117602009925777
165 - The Bridge on the River Kwai (1957) - Starring: David Lean (dir.), William Holden, Alec Guinness 8.114278570350475
166 - Howl's Moving Castle (2004) - Starring: Hayao Miyazaki (dir.), Chieko Baishô, Takuya Kimura 8.114246630172989
167 - Three Billboards Outside Ebbing, Missouri (2017) - Starring: Martin McDonagh (dir.), Frances McDormand, Woody Harrelson 8.111637210551615
168 - Trainspotting (1996) - Starring: Danny Boyle (dir.), Ewan McGregor, Ewen Bremner 8.111516670838363
169 - Gran Torino (2008) - Starring: Clint Eastwood (dir.), Clint Eastwood, Bee Vang 8.105002010004831
170 - Warrior (2011) - Starring: Gavin O'Connor (dir.), Tom Hardy, Nick Nolte 8.104965868571846
171 - Fargo (1996) - Starring: Joel Coen (dir.), William H. Macy, Frances McDormand 8.103456588765463
172 - Prisoners (2013) - Starring: Denis Villeneuve (dir.), Hugh Jackman, Jake Gyllenhaal 8.09545004923877
173 - My Neighbor Totoro (1988) - Starring: Hayao Miyazaki (dir.), Hitoshi Takagi, Noriko Hidaka 8.095404058728176
174 - Million Dollar Baby (2004) - Starring: Clint Eastwood (dir.), Hilary Swank, Clint Eastwood 8.089959484670857
175 - The Gold Rush (1925) - Starring: Charles Chaplin (dir.), Charles Chaplin, Mack Swain 8.087763267083034
176 - Blade Runner (1982) - Starring: Ridley Scott (dir.), Harrison Ford, Rutger Hauer 8.086847367375904
177 - Catch Me If You Can (2002) - Starring: Steven Spielberg (dir.), Leonardo DiCaprio, Tom Hanks 8.086318510026318
178 - On the Waterfront (1954) - Starring: Elia Kazan (dir.), Marlon Brando, Karl Malden 8.084083939696598
179 - The Third Man (1949) - Starring: Carol Reed (dir.), Orson Welles, Joseph Cotten 8.082280521321795

In [ ]:
#saving the list as dataframe
df = pd.DataFrame(list1)

In [ ]:
df.head()

,Location,Movie_title,rating,Year,Star_cast
0,1,The Shawshank Redemption,9.233954495698477,1994,"Frank Darabont (dir.), Tim Robbins, Morgan Fre..."
1,2,The Godfather,9.1560474473662,1972,"Francis Ford Coppola (dir.), Marlon Brando, Al..."
2,3,The Dark Knight,8.985754553547302,2008,"Christopher Nolan (dir.), Christian Bale, Heat..."
3,4,The Godfather Part II,8.984208074470846,1974,"Francis Ford Coppola (dir.), Al Pacino, Robert..."
4,5,12 Angry Men,8.947842593083273,1957,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb"

In [ ]:
input_actor= input('Enter the name of Star cast: ' )

Enter the name of Star cast: Leonardo DiCaprio

In [ ]:
df1=df[df['Star_cast'].str.contains(input_actor)]
df_dec=df1.sort_values('Year', ascending= False)

In [ ]:
df_dec.head()

,Location,Movie_title,rating,Year,Star_cast
133,134,The Wolf of Wall Street,8.171738530666474,2013,"Martin Scorsese (dir.), Leonardo DiCaprio, Jon..."
12,13,Inception,8.732946893137395,2010,"Christopher Nolan (dir.), Leonardo DiCaprio, J..."
147,148,Shutter Island,8.1431349321367,2010,"Martin Scorsese (dir.), Leonardo DiCaprio, Emi..."
39,40,The Departed,8.475095342627219,2006,"Martin Scorsese (dir.), Leonardo DiCaprio, Mat..."
176,177,Catch Me If You Can,8.086318510026318,2002,"Steven Spielberg (dir.), Leonardo DiCaprio, To..."

##Problem 2

Create an ML algorithm to classify the planets as Candidate/False positive/Confirmed etc based on the column “koi_disposition”.

In [ ]:
#importing all the dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

##Exploratory Data Analysis

In [ ]:
#reading the dataset
data2 = pd.read_csv("/content/drive/MyDrive/Web Scrapping and Machine Learning/kepler_data.csv", skiprows=52)
data2.head()

,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,...,koi_steff_err2,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra,dec,koi_kepmag
0,10797460,K00752.01,Kepler-227 b,CONFIRMED,CANDIDATE,1.000,0,0,0,0,...,-81.0,4.467,0.064,-0.096,0.927,0.105,-0.061,291.93423,48.141651,15.347
1,10797460,K00752.02,Kepler-227 c,CONFIRMED,CANDIDATE,0.969,0,0,0,0,...,-81.0,4.467,0.064,-0.096,0.927,0.105,-0.061,291.93423,48.141651,15.347
2,10811496,K00753.01,NaN,CANDIDATE,CANDIDATE,0.000,0,0,0,0,...,-176.0,4.544,0.044,-0.176,0.868,0.233,-0.078,297.00482,48.134129,15.436
3,10848459,K00754.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,0,...,-174.0,4.564,0.053,-0.168,0.791,0.201,-0.067,285.53461,48.285210,15.597
4,10854555,K00755.01,Kepler-664 b,CONFIRMED,CANDIDATE,1.000,0,0,0,0,...,-211.0,4.438,0.070,-0.210,1.046,0.334,-0.133,288.75488,48.226200,15.509

In [ ]:
#checking the shape of the dataset
print("No of rows:", data2.shape[0])
print("No of columns:", data2.shape[1])

No of rows: 9564
No of columns: 49

In [ ]:
# Checking for missing values
data2.isnull().sum()

kepid                   0
kepoi_name              0
kepler_name          7204
koi_disposition         0
koi_pdisposition        0
koi_score            1510
koi_fpflag_nt           0
koi_fpflag_ss           0
koi_fpflag_co           0
koi_fpflag_ec           0
koi_period              0
koi_period_err1       454
koi_period_err2       454
koi_time0bk             0
koi_time0bk_err1      454
koi_time0bk_err2      454
koi_impact            363
koi_impact_err1       454
koi_impact_err2       454
koi_duration            0
koi_duration_err1     454
koi_duration_err2     454
koi_depth             363
koi_depth_err1        454
koi_depth_err2        454
koi_prad              363
koi_prad_err1         363
koi_prad_err2         363
koi_teq               363
koi_teq_err1         9564
koi_teq_err2         9564
koi_insol             321
koi_insol_err1        321
koi_insol_err2        321
koi_model_snr         363
koi_tce_plnt_num      346
koi_tce_delivname     346
koi_steff             363
koi_steff_err1        468
koi_steff_err2        483
koi_slogg             363
koi_slogg_err1        468
koi_slogg_err2        468
koi_srad              363
koi_srad_err1         468
koi_srad_err2         468
ra                      0
dec                     0
koi_kepmag              1
dtype: int64

In [ ]:
#droping the columns with more null values.
data2.drop(['koi_teq_err1', 'koi_teq_err2','kepler_name'], axis=1, inplace=True)

In [ ]:
#summary if the columns
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9564 entries, 0 to 9563
Data columns (total 46 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   kepid              9564 non-null   int64
 1   kepoi_name         9564 non-null   object
 2   koi_disposition    9564 non-null   object
 3   koi_pdisposition   9564 non-null   object
 4   koi_score          8054 non-null   float64
 5   koi_fpflag_nt      9564 non-null   int64
 6   koi_fpflag_ss      9564 non-null   int64
 7   koi_fpflag_co      9564 non-null   int64
 8   koi_fpflag_ec      9564 non-null   int64
 9   koi_period         9564 non-null   float64
 10  koi_period_err1    9110 non-null   float64
 11  koi_period_err2    9110 non-null   float64
 12  koi_time0bk        9564 non-null   float64
 13  koi_time0bk_err1   9110 non-null   float64
 14  koi_time0bk_err2   9110 non-null   float64
 15  koi_impact         9201 non-null   float64
 16  koi_impact_err1    9110 non-null   float64
 17  koi_impact_err2    9110 non-null   float64
 18  koi_duration       9564 non-null   float64
 19  koi_duration_err1  9110 non-null   float64
 20  koi_duration_err2  9110 non-null   float64
 21  koi_depth          9201 non-null   float64
 22  koi_depth_err1     9110 non-null   float64
 23  koi_depth_err2     9110 non-null   float64
 24  koi_prad           9201 non-null   float64
 25  koi_prad_err1      9201 non-null   float64
 26  koi_prad_err2      9201 non-null   float64
 27  koi_teq            9201 non-null   float64
 28  koi_insol          9243 non-null   float64
 29  koi_insol_err1     9243 non-null   float64
 30  koi_insol_err2     9243 non-null   float64
 31  koi_model_snr      9201 non-null   float64
 32  koi_tce_plnt_num   9218 non-null   float64
 33  koi_tce_delivname  9218 non-null   object
 34  koi_steff          9201 non-null   float64
 35  koi_steff_err1     9096 non-null   float64
 36  koi_steff_err2     9081 non-null   float64
 37  koi_slogg          9201 non-null   float64
 38  koi_slogg_err1     9096 non-null   float64
 39  koi_slogg_err2     9096 non-null   float64
 40  koi_srad           9201 non-null   float64
 41  koi_srad_err1      9096 non-null   float64
 42  koi_srad_err2      9096 non-null   float64
 43  ra                 9564 non-null   float64
 44  dec                9564 non-null   float64
 45  koi_kepmag         9563 non-null   float64
dtypes: float64(37), int64(5), object(4)
memory usage: 3.4+ MB

In [ ]:
num_data2=data2.select_dtypes(exclude='object')
cat_data2=data2.select_dtypes(include='object')

In [ ]:
for i in num_data2.columns:
  if num_data2[i].isnull().sum()>0:
    num_data2[i]=num_data2[i].fillna(num_data2[i].median())

In [ ]:
num_data2.isnull().sum()

kepid                0
koi_score            0
koi_fpflag_nt        0
koi_fpflag_ss        0
koi_fpflag_co        0
koi_fpflag_ec        0
koi_period           0
koi_period_err1      0
koi_period_err2      0
koi_time0bk          0
koi_time0bk_err1     0
koi_time0bk_err2     0
koi_impact           0
koi_impact_err1      0
koi_impact_err2      0
koi_duration         0
koi_duration_err1    0
koi_duration_err2    0
koi_depth            0
koi_depth_err1       0
koi_depth_err2       0
koi_prad             0
koi_prad_err1        0
koi_prad_err2        0
koi_teq              0
koi_insol            0
koi_insol_err1       0
koi_insol_err2       0
koi_model_snr        0
koi_tce_plnt_num     0
koi_steff            0
koi_steff_err1       0
koi_steff_err2       0
koi_slogg            0
koi_slogg_err1       0
koi_slogg_err2       0
koi_srad             0
koi_srad_err1        0
koi_srad_err2        0
ra                   0
dec                  0
koi_kepmag           0
dtype: int64

In [ ]:
for i in cat_data2.columns:
  if cat_data2[i].isnull().sum()>0:
    cat_data2[i]=cat_data2[i].fillna(cat_data2[i].mode())

In [ ]:
cat_data2.isnull().sum()

kepoi_name             0
koi_disposition        0
koi_pdisposition       0
koi_tce_delivname    346
dtype: int64

In [ ]:
data2['koi_tce_delivname'].mode()

0    q1_q17_dr25_tce
dtype: object

In [ ]:
#checking the unique values of the catecorical columns.
cat_data2.nunique()

kepoi_name           9564
koi_disposition         3
koi_pdisposition        2
koi_tce_delivname       3
dtype: int64

In [ ]:
#dummy encoding for catecorical columns.
dummies=pd.get_dummies(cat_data2.drop(['koi_disposition','kepoi_name'],axis=1), drop_first=True)
dummies.head()

,koi_pdisposition_FALSE POSITIVE,koi_tce_delivname_q1_q17_dr24_tce,koi_tce_delivname_q1_q17_dr25_tce
0,0,0,1
1,0,0,1
2,0,0,1
3,1,0,1
4,0,0,1

In [ ]:
dataFinal=pd.concat([num_data2, dummies], axis=1).reset_index(drop=True)

##Spliting into train and test.

In [ ]:
Y = data2['koi_disposition']
X = dataFinal.copy()

In [ ]:
from sklearn.model_selection import train_test_split
Xtrain,Xtest,Ytrain, Ytest = train_test_split(X,Y, test_size=0.3, random_state = 0)
print(Xtrain.shape)
print(Xtest.shape)
print(Ytrain.shape)
print(Ytest.shape)

(6694, 45)
(2870, 45)
(6694,)
(2870,)

##Feature Selection

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel
rfc = RandomForestClassifier(random_state = 0, n_estimators = 100)
rfc.fit(Xtrain, Ytrain)
imp_feat = list(zip(X.columns, rfc.feature_importances_))
imp_feat

[('kepid', 0.006958944776568857),
 ('koi_score', 0.13943117331141194),
 ('koi_fpflag_nt', 0.04770957634111057),
 ('koi_fpflag_ss', 0.04625966740683037),
 ('koi_fpflag_co', 0.04146704059557305),
 ('koi_fpflag_ec', 0.010897865427776035),
 ('koi_period', 0.015249926666323925),
 ('koi_period_err1', 0.012585791690652519),
 ('koi_period_err2', 0.010952632315680678),
 ('koi_time0bk', 0.008416751813139492),
 ('koi_time0bk_err1', 0.017283559999291376),
 ('koi_time0bk_err2', 0.014911172029220805),
 ('koi_impact', 0.009325284630249984),
 ('koi_impact_err1', 0.006825255859080945),
 ('koi_impact_err2', 0.006452833310366147),
 ('koi_duration', 0.016502864353415518),
 ('koi_duration_err1', 0.02318270927025351),
 ('koi_duration_err2', 0.026828728543039672),
 ('koi_depth', 0.011400930715694094),
 ('koi_depth_err1', 0.010607502011117695),
 ('koi_depth_err2', 0.011134969380491362),
 ('koi_prad', 0.030525855966966428),
 ('koi_prad_err1', 0.017016938616678006),
 ('koi_prad_err2', 0.009937845354763728),
 ('koi_teq', 0.007592702905292129),
 ('koi_insol', 0.009965998365340317),
 ('koi_insol_err1', 0.011416949775652456),
 ('koi_insol_err2', 0.008443134932879863),
 ('koi_model_snr', 0.048444568873146646),
 ('koi_tce_plnt_num', 0.0019023008964657044),
 ('koi_steff', 0.006309198155135461),
 ('koi_steff_err1', 0.022775040813774967),
 ('koi_steff_err2', 0.017255196481210756),
 ('koi_slogg', 0.0056093824928682),
 ('koi_slogg_err1', 0.006009672232081033),
 ('koi_slogg_err2', 0.01063925729100536),
 ('koi_srad', 0.006221383380359186),
 ('koi_srad_err1', 0.011012109576545392),
 ('koi_srad_err2', 0.005968097280756864),
 ('ra', 0.007775728529489715),
 ('dec', 0.00717853426004404),
 ('koi_kepmag', 0.007809208676935355),
 ('koi_pdisposition_FALSE POSITIVE', 0.23792786303854996),
 ('koi_tce_delivname_q1_q17_dr24_tce', 0.0003333385511869028),
 ('koi_tce_delivname_q1_q17_dr25_tce', 0.0075445131055831135)]

In [ ]:
sel = SelectFromModel(RandomForestClassifier(random_state = 0, n_estimators = 100), threshold = 0.01)
sel.fit(Xtrain, Ytrain)

SelectFromModel(estimator=RandomForestClassifier(random_state=0),
                threshold=0.01)

In [ ]:
selected_feat= Xtrain.columns[(sel.get_support())]
print(len(selected_feat))

25

In [ ]:
print("Selected Features:\n", list(selected_feat))

Selected Features:
 ['koi_score', 'koi_fpflag_nt', 'koi_fpflag_ss', 'koi_fpflag_co', 'koi_fpflag_ec', 'koi_period', 'koi_period_err1', 'koi_period_err2', 'koi_time0bk_err1', 'koi_time0bk_err2', 'koi_duration', 'koi_duration_err1', 'koi_duration_err2', 'koi_depth', 'koi_depth_err1', 'koi_depth_err2', 'koi_prad', 'koi_prad_err1', 'koi_insol_err1', 'koi_model_snr', 'koi_steff_err1', 'koi_steff_err2', 'koi_slogg_err2', 'koi_srad_err1', 'koi_pdisposition_FALSE POSITIVE']

In [ ]:
Xnew = X[list(selected_feat)]
print(Xnew.shape)

(9564, 25)

In [ ]:
Xtrain1,Xtest1,Ytrain1, Ytest1 = train_test_split(Xnew,Y, test_size=0.3, random_state = 0)
print(Xtrain1.shape)
print(Xtest1.shape)
print(Ytrain1.shape)
print(Ytest1.shape)

(6694, 25)
(2870, 25)
(6694,)
(2870,)

##Model Training

Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state = 0, n_estimators = 500, max_leaf_nodes = 6)
rfc.fit(Xtrain, Ytrain)

RandomForestClassifier(max_leaf_nodes=6, n_estimators=500, random_state=0)

In [ ]:
Ypred = rfc.predict(Xtest)
from sklearn.metrics import classification_report
cr1 = classification_report(Ytest, Ypred, digits = 4)
print(cr1)

                precision    recall  f1-score   support

     CANDIDATE     0.8248    0.7493    0.7852       710
     CONFIRMED     0.7802    0.8291    0.8039       702
FALSE POSITIVE     0.9858    1.0000    0.9928      1458

      accuracy                         0.8962      2870
     macro avg     0.8636    0.8595    0.8607      2870
  weighted avg     0.8957    0.8962    0.8953      2870

Ada Boost

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
abc=AdaBoostClassifier(random_state = 0, n_estimators = 500, learning_rate=0.001)
abc.fit(Xtrain,Ytrain)

AdaBoostClassifier(learning_rate=0.001, n_estimators=500, random_state=0)

In [ ]:
Ypred = abc.predict(Xtest)
from sklearn.metrics import classification_report
cr2 = classification_report(Ytest, Ypred, digits = 4)
print(cr2)

                precision    recall  f1-score   support

     CANDIDATE     0.8773    0.6141    0.7225       710
     CONFIRMED     0.6989    0.9060    0.7891       702
FALSE POSITIVE     0.9966    1.0000    0.9983      1458

      accuracy                         0.8815      2870
     macro avg     0.8576    0.8400    0.8366      2870
  weighted avg     0.8943    0.8815    0.8789      2870

XGBoost

In [ ]:
from xgboost import XGBClassifier
xgbc = XGBClassifier(random_state = 0, n_estimators = 600, max_leaf_nodes = 5)
xgbc.fit(Xtrain,Ytrain)

XGBClassifier(max_leaf_nodes=5, n_estimators=600, objective='multi:softprob')

In [ ]:
Ypred = xgbc.predict(Xtest)
from sklearn.metrics import classification_report
cr3 = classification_report(Ytest, Ypred, digits = 4)
print(cr3)

                precision    recall  f1-score   support

     CANDIDATE     0.8507    0.8183    0.8342       710
     CONFIRMED     0.8218    0.8476    0.8345       702
FALSE POSITIVE     0.9966    1.0000    0.9983      1458

      accuracy                         0.9178      2870
     macro avg     0.8897    0.8886    0.8890      2870
  weighted avg     0.9177    0.9178    0.9176      2870

##Sub-questions for Problem 2


1. Why did you choose the particular algorithm?

  Ans: I have tried various bagging, boosting machine learning algorithms.Random Forest classifier gave me 89%, AdaBoost gave 88% accuracy and I achieved 92% accuracy using XGBoost which is the highest accuracy so, XGBoost is the best model,This is a boosting algorithm which reduces the overfitting.

2. What are the different tuning methods used for the algorithm?

  Ans: I improved my model performance by increasing the number of trees and also tried with different values of max_leaf_nodes.

3. Did you consider any other choice of algorithm?Why or why not?

  Ans: I have tried various other Bagging and boosting machine learning classifiers such as:

     -Random Forest
     Random subsamples of data are selected for Random Forest where the growing happens in parallel and overfitting is reduced with the combination of several underfitting features in the algorithm.

     -Ada Boost
      One of the many advantages of the AdaBoost Algorithm is it is fast, simple and easy to program. Also, it has the flexibility to be combined with any machine learning algorithm
     
     -XGBoost
     Overfitting is reduced with the help of regularization parameters in XGBoost that helps to select features based on weak and strong features in the decision tree. Optimal values of each leaf are calculated and hence the overall gradient of the tree is given as the output.

4. What is the accuracy?

   Ans: I have achieved 92% accuracy using XGBoost Model.

5. What are the different types of metrics that can be used to evaluate the model?
   
   Ans: The different types of metrics that can be used to evaluate the models are:

  Accuracy: Accuracy is the number of correctly predicted data points out of all the data points.

  Precision: Precision refers to the number of true positives divided by the total number of positive predictions (i.e., the number of true positives plus the number of false positives).

  Recall: Mathematically, we define recall as the number of true positives divided by the number of true positives plus the number of false negatives.

  F1-score: F1 score is defined as the harmonic mean between precision and recall. F1 score is used when dealing with imbalanced data as accuracy is not the preferred metric in these cases.

**Thank You!**